<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("1331d3f6-ad13-47d2-ab13-3763b1339b86");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
